@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: white;
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
}
body { background-color: #f0f0f0; text-align: center; font-family: sans-serif; }
      button { padding: 10px; margin: 10px; border-radius: 5px; cursor: pointer; }
      img { width: 150px; height: 150px; display: none; margin-top: 10px; }
      .highlight { font-weight: bold; font-style: italic; }
      #mem1-button { background-color: rgb(249, 201, 8);color: white; }
      #mem2-button { background-color: rgb(249, 201, 8); color: white; }
      #mem3-button { background-color: rgb(249, 201, 8); color: white; }